@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}
h1{
    font-size: 60px;
    line-height: 64px;
    color:#222
}
h2{
    font-size: 56px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 30px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width:100%
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline: none;
    transition: 0.2s;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display:flex;
    align-items: center;
    justify-content:center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(42, 94, 94);
}
#hero{
    background-image: url(/images/bg\1.jpg);
    height: 95vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 125px
}
#hero h1{
    color: rgb(10, 133, 73);
}
#hero h4{
    padding-bottom: 15px ;
}
#hero button{
    background-image: url("images/bg2.png");
    background-color: transparent;
    color: rgb(225, 13, 13);
    border: 0;
    padding: 14px 80px 14px 65px;
    font-size: 22px;

}
#feature .fe-box{
    width:250px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.6);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin:15px 0

}
#feature .fe-box :hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1)
}
#feature .fe-box img{
    width: 100%;
    margin-bottom:10px ;
}
#feature .fe-box h6{
    display: inline;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(30, 122, 129) ;
    font-size: 15px;
    background-color: rgb(237, 202, 213);
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#product1{
    text-align: center;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid black;
    margin:60px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    transition: 0.2s ease;
    position:relative;
    overflow: hidden;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}
#product1 .pro img{
    height: 250px;
    width: auto;
    border-radius: 20px;
    padding: 10px;
    
}
#product1 .pro .des{
    text-align:start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: gray;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178;
}
.flex{
    display:flex;
    justify-content:space-between ;
    padding-top:20px;
    flex-wrap: wrap;
    width:100%
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/tagbg1.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color:white;
    font-size: 20px;
}
#banner h2{
    color:white;
    font-size: 40px;
    padding: 10px;
}
#banner h2 span{
    color: rgb(235, 49, 49);
}
#banner button:hover{
    background-color: #0a736c;
    color: white;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner1.jpg);
    min-width: 640px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: white;
}
#sm-banner .banner-box h2{
    padding: 10px 0px;
    color: #fff;
    font-weight: 700;
}
#sm-banner .banner-box h4{
    color: #fff;
    font-weight: 400;
}
#sm-banner .banner-box button{
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
}
#sm-banner .banner-box button:hover{
    color: blue;
    background-color: chartreuse;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#sm-banner .banner-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner2.jpg);
    min-width: 640px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
#sm-banner .banner-box1 h2{
    padding: 10px 0px;
    color: #ffffff;
    font-weight: 700;
}
#sm-banner .banner-box1 h4{
    color: #ffffff;
    font-weight: 400;
}
#sm-banner .banner-box1 button{
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
}
#sm-banner .banner-box1 button:hover{
    color: blue;
    background-color: chartreuse;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(12, 46, 120);
}
#newsletter h4{
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #9a9898;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen {
    .col2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        display: flex;
        flex-direction: column;

    }
    
}
@media screen {
    .col3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        display: flex;
        flex-direction: column;

    }
    
}
@media screen {
    .col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        display: flex;
        

    }
}

.col2 a{
    color: rgb(15, 15, 15);
    text-decoration: none;
}
.col3 a{
    color: rgb(15, 15, 15);
    text-decoration: none;
}
#product1 .design a{
    color: rgb(14, 14, 14);
    text-decoration: none;
}
#product1 .pro .des .design :hover{
    color:white;
    background-color: black;
}
.col3 a:hover{
    color:white;
    background-color: black;
}
.col2 a:hover{
    color:white;
    background-color: black;
}
